@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(155, 89, 182, 0.7);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main {
  position: relative;
  border: 3px solid #eee;
  border-radius: 15px;
  height: 600px;
  max-width: 340px; 
}
.main::-webkit-scrollbar {
  display: none;
}
.main{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.name {
  margin-top: 5px;
  display: flex;
  font-size: 32px;
  font-weight: 700;
  padding: 8px 16px;
  color: #7e7e7e;
  background-color: #ebebeb;
  overflow: hidden;
}


.name-input {
  font-size: 24px;
  font-weight: 700;
  color: #7e7e7e;
  flex-grow: 1;
  border: none;
  margin: 0px 12px;
  outline: none;
  background-color: #ebebeb;
}




ul{
  margin: 0;
  padding: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  height: 475px;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}
.message-container::-webkit-scrollbar {
  display: none;
}
.message-container{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.message-left,
.message-right {
  list-style: none;
  padding: 8px 12px;
  margin-bottom: 60px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-left {
  border-radius: 20px 20px 20px 0px;
  align-self: flex-start;
  background-color: #fff;
  box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  background-color: #2d2d2d;
  box-shadow: 2px 2px 4px #dcdcdc;
  color: #f6f6f6;
}

.message-left > p > span,
.message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}

.message-form {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 340px; 
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}


